@use "@/styles/mixins" as m;

.title {
  @include m.header(5);
  color: var(--color-text-primary);
  text-align: center;
}

.subtitle {
  @include m.body(1);
  color: var(--color-text-secondary);
  text-align: start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.label {
  @include m.label(2);
  color: var(--color-light-text-secondary);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  justify-content: center;
  margin-top: var(--spacing-md);
}

.buttonStyle {
  flex: 1;
}

@include m.media("tablet-up") {
  .title {
    @include m.header(4);
  }
}
