@use "@/styles/mixins" as m;

.layout {
  display: flex;
  height: 100dvh;
}

$header-height: 6.4rem;
$xp-bar-height: 2rem;

.main {
  flex: 1;
  padding-top: $header-height;
  padding-bottom: $xp-bar-height;
  overflow-y: auto;
}

@include m.media("tablet-up") {
  .main {
    padding: $header-height 0 $xp-bar-height $header-height;
  }
}
