.layout {
  display: flex;
  min-height: 100vh;
}

$base-spacing: 6.4rem;

.main {
  flex: 1;
  margin-left: 0;
  padding-top: $base-spacing;
}

@include media("tablet-up") {
  .main {
    padding: $base-spacing 0 0 $base-spacing;
  }
}
