.container {
  @include flex-center;
  width: 100dvw;
  height: 100dvh;
  gap: var(--spacing-lg);

  flex-direction: column;
  padding: var(--spacing-md);
}

.logo {
  width: 80dvw;
  max-width: 60rem;
  height: auto;
}

.loginCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  border: 0.1rem solid var(--color-border);
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  background-color: var(--color-beige-50);
}

.title {
  @include header(4);
  color: var(--color-text-primary);
  text-align: center;
}

.subtitle {
  @include body(1);
  color: var(--color-text-secondary);
  text-align: start;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.label {
  @include label(2);
  color: var(--color-light-text-secondary);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  justify-content: center;
}

.buttonStyle {
  flex: 1;
}
