@use "@/styles/mixins" as m;

.title {
  @include m.header(4);
  color: var(--color-gold-900);
  text-align: center;

  position: relative;
  padding-block: var(--spacing-sm);

  &::after {
    content: "✦";
    display: block;
    font-size: var(--fonts-size-xs);
    color: var(--color-gold-300);
    margin-top: var(--spacing-sm);
    letter-spacing: 0.6em;
    text-indent: 0.6em;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.subtitle {
  @include m.body(1);
  color: var(--color-text-secondary);
  text-align: start;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.label {
  @include m.label(2);
  color: var(--color-light-text-secondary);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  justify-content: center;
}

.buttonStyle {
  flex: 1;
}
