@use "@/styles/mixins" as m;

.container {
  position: relative;
  width: 100%;
  height: 100%;

  overflow-y: auto;
}

.title {
  @include m.heading(5);
  color: var(--color-gold-500);
  text-align: center;
  margin-bottom: var(--spacing-lg);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  white-space: nowrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to bottom, var(--color-bg-primary) 50%, transparent);
  padding: var(--spacing-lg);

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 0.2rem;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-border) 30%,
      var(--color-gold-300) 50%,
      var(--color-border) 70%,
      transparent
    );
    border-radius: var(--radius-full);
  }

  &::before {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-border) 30%,
      var(--color-gold-300)
    );
  }

  &::after {
    background: linear-gradient(
      to right,
      var(--color-gold-300),
      var(--color-border) 70%,
      transparent
    );
  }
}

.kingdomsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  width: 100%;
  position: relative;
  padding-bottom: var(--spacing-xl);
  overflow-x: hidden;
}

.kingdomListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    scale: 105%;

    .kingdomFrame {
      filter: drop-shadow(0 0 1rem var(--color-blue-900));
    }
  }
}

.kingdomIndex {
  @include m.label(2);
}

.kingdomImageContainer {
  position: relative;
  width: 80dvw;
  min-width: 30rem;
  max-width: 40rem;
  aspect-ratio: 16 / 9;
  height: calc(80dvw * 9 / 16);
  max-height: calc(40rem * 9 / 16);
  padding-bottom: var(--spacing-sm);
  border-radius: var(--spacing-md);
  display: flex;
  justify-content: center;
}

.kingdomImage {
  object-fit: cover;
  height: 100%;
  width: 98%;
  border-radius: var(--spacing-2xl);
}

.kingdomFrame {
  z-index: 10;
  position: absolute;
  transform: scale(100%, 110%);
  transition: all 0.3s;
}

.kingdomTitle {
  @include m.label(1);
  color: var(--color-text-invert-primary);
  position: absolute;
  bottom: 7%;
  width: 98%;
  border-radius: 0 0 var(--spacing-xl) var(--spacing-xl);
  padding: 0.5rem 10%;
  text-align: center;
  background-color: var(--color-brown-alfa-50);
}

@include m.media("tablet-up") {
  .container {
    width: 40dvw;
    max-width: 60rem;
    border-right: var(--color-border) 0.1rem solid;
    overflow-x: hidden;
  }

  .kingdomsListContainer {
    padding-bottom: var(--spacing-2xl);
  }
}
